# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29
git+https://github.com/JanKrl/jantest
git+https://github.com/tolyai/packshared
git+https://github.com/tomerenshtein/greatest-project-ever

# data science
numpy
pandas
scikit-learn

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs

# utilities
six>=1.14
joblib
memoized-property
termcolor